In [1]:
import os
import re
import textract
import pandas as pd
import glob
import win32com.client

In [2]:
# Converting All doc file into docx
word = win32com.client.Dispatch("Word.Application")

for i, doc in enumerate(glob.iglob("C:/Users/Sudeep/python files/DS Project 2/Resumes/Peoplesoft resumes/*.doc")):
    in_file = os.path.abspath(doc)
    wb = word.Documents.Open(in_file)
    out_file = re.sub(r'\.\w+$', '.docx', in_file)
    wb.SaveAs2(out_file, FileFormat=16) # file format for docx
    wb.Close()
word.Quit()

In [3]:
# Removing The All original doc Files
dir_name = "C:/Users/Sudeep/python files/DS Project 2/Resumes/Peoplesoft resumes/"
paths = os.listdir(dir_name)

for item in paths:
    if item.endswith(".doc"):
        os.remove(os.path.join(dir_name, item))

In [4]:
# Importing The all resumes of peoplesoft
file_path1 = [] 
category1  = []
directory1 = "C:/Users/Sudeep/python files/DS Project 2/Resumes/Peoplesoft resumes" 
for i in os.listdir(directory1):
    if i.endswith('.docx'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))).decode('utf-8'))
        category1.append('PeopleSoft')
data1 = pd.DataFrame(data = file_path1 , columns = ['Resume_Text'])
data1['Category1'] = category1
data1

                                          Resume_Text   Category1
0   Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft
1   G. Ananda Rayudu \n\n\t\t       https://www.li...  PeopleSoft
2   PeopleSoft Database Administrator\n\n         ...  PeopleSoft
3   Classification: Internal\n\nClassification: In...  PeopleSoft
4   Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...  PeopleSoft
5   SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...  PeopleSoft
6   PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS.K...  PeopleSoft
7   PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...  PeopleSoft
8   Vinod Akkala                                  ...  PeopleSoft
9   PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanesh ...  PeopleSoft
10  PeopleSoft Administration\n\n \n\nVivekanand S...  PeopleSoft
11  Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\n\...  PeopleSoft
12  Personal Details\t\t\n\n\n\nName\n\nPritam Bis...  PeopleSoft
13  Rahul Ahuja\n\n-------------------------------...  PeopleSoft
14  Hari Narayana \t\t              \n\n\t\n\n\n\n...  PeopleSoft
15  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...  PeopleSoft
16  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...  PeopleSoft
17  R Ahmed                                       ...  PeopleSoft
18  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...  PeopleSoft
19  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...  PeopleSoft

In [5]:
# Converting All doc file into docx
word = win32com.client.Dispatch("Word.Application")
for i, doc in enumerate(glob.iglob("C:/Users/Sudeep/python files/DS Project 2/Resumes/React Developer/*.doc")):
    in_file = os.path.abspath(doc)
    wb = word.Documents.Open(in_file)
    out_file = re.sub(r'\.\w+$', '.docx', in_file)
    wb.SaveAs2(out_file, FileFormat=16) 
    wb.Close()
word.Quit()

In [6]:
#Importing the Required Library to Convert PDF file to docx
from pdf2docx import parse
#Defining the Path
pdfdoc = 'C:/Users/Sudeep/python files/DS Project 2/Resumes/React Developer/Reactjs Developer_Prabakaran_Musquare Technologies.pdf'
todocx = 'C:/Users/Sudeep/python files/DS Project 2/Resumes/React Developer/Reactjs Developer_Prabakaran_Musquare Technologies.docx'
#Converting
parse(pdfdoc, todocx, start=0, end=None)

[INFO] Start to convert C:/Users/Sudeep/python files/DS Project 2/Resumes/React Developer/Reactjs Developer_Prabakaran_Musquare Technologies.pdf
[INFO] [1/4] Opening document...
[INFO] [2/4] Analyzing document...
[INFO] [3/4] Parsing pages...
[INFO] (1/2) Page 1
[INFO] (2/2) Page 2
[INFO] [4/4] Creating pages...
[INFO] (1/2) Page 1
[INFO] (2/2) Page 2
[INFO] Terminated in 1.66s.

In [7]:
# Removing The All doc and pdf files
dir_name = "C:/Users/Sudeep/python files/DS Project 2/Resumes/React Developer/"
paths = os.listdir(dir_name)
for item in paths:
    if item.endswith(".doc"):
        os.remove(os.path.join(dir_name, item))
    #elif item.endswith(".pdf"):
        #os.remove(os.path.join(dir_name, item))

In [8]:
file_path2 = []
category2=[]
directory2 = "C:/Users/Sudeep/python files/DS Project 2/Resumes/React Developer"
for i in os.listdir(directory2):
    if i.endswith('.docx'):
        file_path2.append((textract.process(os.path.join(directory2,i))).decode('utf-8'))
        category2.append("ReactJSDeveloper")
data2 = pd.DataFrame(data=file_path2,columns=['Resume_Text'])
data2['category2']=category2
data2

                                          Resume_Text         category2
0   Name: Ravali P \n\n\n\n                       ...  ReactJSDeveloper
1   SUSOVAN  BAG   \n\nSeeking  a  challenging  po...  ReactJSDeveloper
2   Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...  ReactJSDeveloper
3   HARIPRIYA BATTINA \n\nExperience as UI Develop...  ReactJSDeveloper
4   KAMALAKAR REDDY. A \n\nLinked In: https://www....  ReactJSDeveloper
5   Naveen Sadhu\n\n\n\n\n\nTitle: software develo...  ReactJSDeveloper
6   FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER\n...  ReactJSDeveloper
7   PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...  ReactJSDeveloper
8   SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...  ReactJSDeveloper
9   Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...  ReactJSDeveloper
10  Maryala Vinay Reddy\n\n\n\n\tProfessional Summ...  ReactJSDeveloper
11  Ui-Developer/ React JS Developer \n\nNAME: KRI...  ReactJSDeveloper
12  Ui-Developer/ React JS Developer \n\nNAME: KRI...  ReactJSDeveloper
13  CURRICULUM VITAE\n\n\n\n\n\n\n\nAnjani Priyada...  ReactJSDeveloper
14  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...  ReactJSDeveloper
15  Venkatalakshmi Pedireddy\n\nSoftware Developer...  ReactJSDeveloper
16  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...  ReactJSDeveloper
17  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...  ReactJSDeveloper
18  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...  ReactJSDeveloper
19  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...  ReactJSDeveloper
20  Name: M. Prabakaran \nTitle: UI Developer\n\nP...  ReactJSDeveloper
21  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...  ReactJSDeveloper
22  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...  ReactJSDeveloper
23  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...  ReactJSDeveloper

In [9]:
# Converting All doc file into docx
word = win32com.client.Dispatch("Word.Application")

for i, doc in enumerate(glob.iglob("C:/Users/Sudeep/python files/DS Project 2/Resumes/SQL Developer Lightning insight/*.doc")):
    in_file = os.path.abspath(doc)
    wb = word.Documents.Open(in_file)
    out_file = re.sub(r'\.\w+$', '.docx', in_file)
    wb.SaveAs2(out_file, FileFormat=16)
    wb.Close()
word.Quit()
# Removing The All doc Files
dir_name = "C:/Users/Sudeep/python files/DS Project 2/Resumes/SQL Developer Lightning insight/"
paths = os.listdir(dir_name)
for item in paths:
    if item.endswith(".doc"):
        os.remove(os.path.join(dir_name, item))

In [10]:
file_path3=[]
category3 = []
directory3 = "C:/Users/Sudeep/python files/DS Project 2/Resumes/SQL Developer Lightning insight"
for i in os.listdir(directory3):
    if i.endswith('.docx'):
        file_path3.append((textract.process(os.path.join(directory3,i))).decode('utf-8'))
        category3.append("SQLDeveloper")
data3=pd.DataFrame(data=file_path3,columns=['Resume_Text'])
data3['category3']=category3
data3

                                          Resume_Text     category3
0   ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...  SQLDeveloper
1   Aradhana Tripathi\n\n\n\nCurrent Location: Gac...  SQLDeveloper
2   BUDDHA VAMSI                                  ...  SQLDeveloper
3   KAMBALLA PRADEEP                              ...  SQLDeveloper
4    Hyderabad\n\n\nNazeer Basha\n\nSQL and Power...  SQLDeveloper
5   Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...  SQLDeveloper
6   SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...  SQLDeveloper
7   SQL SERVER DEVELOPER\n\n\n\n\n\nPriyanka L    ...  SQLDeveloper
8   SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...  SQLDeveloper
9   RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...  SQLDeveloper
10  resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...  SQLDeveloper
11  Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...  SQLDeveloper
12  Tatikonda Kiran Kumar.\n\n\n\n\n\n\n\n\t\tCare...  SQLDeveloper
13  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...  SQLDeveloper

In [11]:
# Converting All doc file into docx
word = win32com.client.Dispatch("Word.Application")

for i, doc in enumerate(glob.iglob("C:/Users/Sudeep/python files/DS Project 2/Resumes/workday resumes/*.doc")):
    in_file = os.path.abspath(doc)
    wb = word.Documents.Open(in_file)
    out_file = re.sub(r'\.\w+$', '.docx', in_file)
    wb.SaveAs2(out_file, FileFormat=16) # file format for docx
    wb.Close()
word.Quit()
# Removing The All doc Files
dir_name = "C:/Users/Sudeep/python files/DS Project 2/Resumes/workday resumes/"
paths = os.listdir(dir_name)
for item in paths:
    if item.endswith(".doc"):
        os.remove(os.path.join(dir_name, item))

In [12]:
file_path4= []
category4= []
directory4 = "C:/Users/Sudeep/python files/DS Project 2/Resumes/workday resumes"
for i in os.listdir(directory4):
    if i.endswith('.docx'):
        file_path4.append((textract.process(os.path.join(directory4,i))).decode('utf-8'))
        category4.append('WorkDay')
data4 = pd.DataFrame(data=file_path4,columns=['Resume_Text'])
data4['category4']=category4
data4

                                          Resume_Text category4
0   Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...   WorkDay
1   Name         : Gopi Krishna Reddy\n\n\t\t     ...   WorkDay
2   Hari Krishna M\n\n\n\n\n\nSummary:\n\nA result...   WorkDay
3   Harikrishna Akula                             ...   WorkDay
4   HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n\n...   WorkDay
5   G Himaja\n\n                                  ...   WorkDay
6   Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSIONAL...   WorkDay
7   JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...   WorkDay
8   Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE SUM...   WorkDay
9   Mooraboyina Guravaiah\n\nWorkday Integration S...   WorkDay
10  Name\t: Naresh Babu Cherukuri\n\n\n\nObjective...   WorkDay
11  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...   WorkDay
12  Punugoti Swetha\n\nWorkday Technical Consultan...   WorkDay
13  Workday HCM  Techno functional Consultant     ...   WorkDay
14  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...   WorkDay
15  Shireesh Balasani                             ...   WorkDay
16  Workday Integration Consultant\n\n\n\nName    ...   WorkDay
17  Srikanth (WORKDAY hCM Consultant)\t           ...   WorkDay
18  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...   WorkDay
19  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...   WorkDay
20  Vinay kumar .v\nWorkday Functional Consultant\...   WorkDay

In [13]:
data = pd.concat([data1,data2,data3,data4],join='outer',ignore_index=True)
data.head()

,Resume_Text,Category1,category2,category3,category4
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN
1,G. Ananda Rayudu \n\n\t\t https://www.li...,PeopleSoft,NaN,NaN,NaN
2,PeopleSoft Database Administrator\n\n ...,PeopleSoft,NaN,NaN,NaN
3,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN
4,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",PeopleSoft,NaN,NaN,NaN

In [14]:
data['Category']=category1+category2+category3+category4
data.head()

,Resume_Text,Category1,category2,category3,category4,Category
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
1,G. Ananda Rayudu \n\n\t\t https://www.li...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
2,PeopleSoft Database Administrator\n\n ...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
3,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
4,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",PeopleSoft,NaN,NaN,NaN,PeopleSoft

In [15]:
data=data.drop(['Category1','category2','category3','category4'],axis=1)
data.head(15)

                                          Resume_Text    Category
0   Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft
1   G. Ananda Rayudu \n\n\t\t       https://www.li...  PeopleSoft
2   PeopleSoft Database Administrator\n\n         ...  PeopleSoft
3   Classification: Internal\n\nClassification: In...  PeopleSoft
4   Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...  PeopleSoft
5   SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...  PeopleSoft
6   PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS.K...  PeopleSoft
7   PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...  PeopleSoft
8   Vinod Akkala                                  ...  PeopleSoft
9   PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanesh ...  PeopleSoft
10  PeopleSoft Administration\n\n \n\nVivekanand S...  PeopleSoft
11  Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\n\...  PeopleSoft
12  Personal Details\t\t\n\n\n\nName\n\nPritam Bis...  PeopleSoft
13  Rahul Ahuja\n\n-------------------------------...  PeopleSoft
14  Hari Narayana \t\t              \n\n\t\n\n\n\n...  PeopleSoft

In [16]:
data.shape

(79, 2)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Resume_Text  79 non-null     object
 1   Category     79 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [18]:
data['Category'].unique()

array(['PeopleSoft', 'ReactJSDeveloper', 'SQLDeveloper', 'WorkDay'],
      dtype=object)

In [19]:
data

                                          Resume_Text    Category
0   Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft
1   G. Ananda Rayudu \n\n\t\t       https://www.li...  PeopleSoft
2   PeopleSoft Database Administrator\n\n         ...  PeopleSoft
3   Classification: Internal\n\nClassification: In...  PeopleSoft
4   Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...  PeopleSoft
..                                                ...         ...
74  Workday Integration Consultant\n\n\n\nName    ...     WorkDay
75  Srikanth (WORKDAY hCM Consultant)\t           ...     WorkDay
76  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...     WorkDay
77  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...     WorkDay
78  Vinay kumar .v\nWorkday Functional Consultant\...     WorkDay

[79 rows x 2 columns]

In [20]:
# Saving Dataset into CSV Format
data.to_csv('Resume_Data.csv',index=False)